h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 80px;
    text-align: center;
}
p{
    font-size: 18px;
    color: gray;
    line-height: 1.8;
    margin-bottom: 0;
}
.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 #000000;
    min-height: 100px;
}
.navlink{
    color: #000000;
}
#caras{
    background-image: url(images/after-nieto-x.JPG);
    background-size: cover;
    padding-top: 90px;
    min-height: 900px;
    color: white;
}
#caras p{
    color: red;
    text-align: center;
}
.content-center{
    max-width: 800px ;
    margin: auto 60px auto;
    text-align: center;
}
button{
    color: #000000;
}
.card{
    margin-top: 20px;
}